@page "/FormatTests"

@using CalamityTierList.Data;
@using System.Text.Json;
@inject HttpClient Http
<PageTitle>Format Test Data</PageTitle>


<div id="FlexContainer">
    <div id="DividerWrapper">
        <div id="TestMainBox" class="divider" style="margin:10px auto 0 auto; min-width:90%">
            <a class="boxTitle">Test Details</a>
            <div style="display:flex; justify-content:center; flex-wrap:wrap;">
            <span class="wrapper">
                <label class="label" for="weaponName">Weapon*</label>
                <select name="WeaponSelect" id="weaponName" class="dropdown" @bind="@testData.weapon">
                    <option value=""></option>
                    @foreach (var weap in Data.WeaponsAlphabetical)
                    {
                        <option value="@weap.Name">@weap.Name</option>
                    }
                </select>
            </span>
            <span class="wrapper">
                <label class="label" for="TesterName"> Tester*</label>
                <input name="searchTxt" type="text" maxlength="512" id="TesterName" @bind="@testData.tester" class="inputField" />
            </span>
            <span class="wrapper">
                <label class="label" for="VersionNumber"> Version*</label>
                <input name="searchTxt" type="text" maxlength="512" id="VersionNumber" @bind="@testData.version" class="inputField" />
            </span>
            <span class="wrapper">
                <label class="label" for="WeaponTiering">Tier </label>
                <select name="WeaponSelect" id="WeaponTiering" @bind="@testData.tier" class="dropdown">
                    <option value=""></option>
                    <option value="SS">SS</option>
                    <option value="S">S</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                    <option value="F">F</option>
                    <option value="Z">Z</option>
                </select>
            </span>
            </div>
            <div class="wrapper">
                    <label class="label" id="Tags" > Tags </label>
                    <div style="display: flex; flex-wrap: wrap; flex-direction: row; justify-content: center;">
                   @foreach (var obj in Data.TagData)
                {
                    <div class="tag @(CheckTag(obj.Tag) ? "" : "deselected")" @onclick="() => ToggleTag(obj.Tag)">@obj.Tag</div>
                }
                </div>
            </div>
            <span class="wrapper">
                <label class="label" for="DetailedNotes"> Detailed Notes </label>
                <textarea name="searchTxt" type="text" maxlength="2056" id="DetailedNotes" @bind="@testData.notes" class="inputField" />
            </span>
            <span class="wrapper">
                <button name="AddTest" id="AddBoss" class="dropdown" @onclick="AddNewBoss">
                    Add Boss*
                </button>
            </span>
        </div>
        @for (var i = 0; i < testData.bosses.Count(); i++)
        {
            var data = testData.bosses[i];

            <div class="divider">
                <a class="boxTitle">Bossfight</a>
                <span class="wrapper">
                    <label class="label" for="@("BossName" + i)">Boss*</label>
                    <select name="WeaponSelect" id="@("BossName" + i)" class="dropdown" @bind="@data.name">
                        <option value=""></option>
                        @foreach (var obj in Data.BossData)
                        {
                            <option value="@obj.Name">@obj.Name</option>
                        }
                    </select>
                </span>
                <span class="wrapper">
                    <label class="label" for="@("Time" + i)"> Time* </label>
                    <input name="searchTxt" type="text" maxlength="512" id="@("Time" + i)" @bind="@data.timeString" class="inputField" />
                </span>
                
                <span class="wrapper">
                    <label class="label" for="@("Died" + i)"> Died At (if applicable) </label>
                    <input name="searchTxt" type="text" maxlength="512" id="@("Died" + i)" @bind="@data.diedString" class="inputField" />
                </span>

                <span class="wrapper">
                    <label class="label" for="@("BossNote" + i)" > Notes </label>
                    <input name="searchTxt" type="text" maxlength="512" id="@("BossNote" + i)" @bind="@data.note" class="inputField" />
                </span>

                <span class="wrapper">
                    <label class="label" for="@("BossGear" + i)"> Gear </label>
                    <input name="searchTxt" type="text" maxlength="512" id="@("BossGear" + i)" @bind="@data.gear" class="inputField" />
                </span>
                <button name="RemoveBoss" id="RemoveBoss" class="dropdown" @onclick="() => {
                    testData.bosses.Remove(data);
                    i--;
                }">
                    Remove This Boss
                </button>
            </div>
        }
    </div>
</div>
<div id="DividerWrapper">
        <div id="TestMainBox" class="divider" style="max-width: 100%">
            <p class="boxTitle">Output</p>
            <pre>@output</pre>
        </div>
</div>

@code {

    public TestData testData = new();

    public string output
    {
        get
        {
            if (string.IsNullOrWhiteSpace(testData.tester) || string.IsNullOrWhiteSpace(testData.weapon) || testData.bosses.Count() <= 0 || testData.bosses.Any(x => string.IsNullOrWhiteSpace(x.name) || x.time == 0))
                return "Fill out all required fields first.";
            return JsonSerializer.Serialize(testData, new JsonSerializerOptions { WriteIndented = true, DefaultIgnoreCondition = System.Text.Json.Serialization.JsonIgnoreCondition.WhenWritingNull });
        }
    }

    void AddNewBoss()
    {
        testData.bosses.Add(new());
    }

    protected override async Task OnInitializedAsync()
    {
        await Data.LoadTestData(Http);
        await Data.LoadWeaponTSV(Http);
		await Data.LoadTags(Http);
		await Data.LoadBosses(Http);
    }

    bool CheckTag(string tag)
    {
        if (testData.tags.Contains(tag))
            return true;
        return false;
    }

    async Task ToggleTag(string tag) {
        if (!testData.tags.Remove(tag))
            testData.tags.Add(tag);
    }
}
