@page "/"

@using CalamityTierList.Data;
@using System.Text.Json;
@inject HttpClient Http

<PageTitle>Calamity Weapon Tierlist</PageTitle>

<h1 style="margin: 50px" disabled>Calamity Weapon Tierlist</h1>

<div id="TestMainBox" class="divider" style="min-width:100%;overflow-x:auto;">
    <table style="min-width:600px">
        <thead>
            <tr>
                <th style="width: 20%">Weapon</th>
                <th>Tier</th>
                <th style="width: 33%">Best Times</th>
                @*<th>Average Times</th>*@
                <th>Notes</th>
            </tr>
        </thead>
		<tbody>
            @foreach (var test in Data.aggregateTests)
    {
        <tr>
            <td>
                <div style="display:flex;flex-direction:column;justify-content:center;justify-items:center;">
                    @{
                            var currentWeapon = Data.LoadedWeapons.First(x => x.Name == test.ItemName);
                                <img src="@( !string.IsNullOrWhiteSpace(currentWeapon.ImageOverride) ? currentWeapon.ImageOverride : currentWeapon.Vanilla ? $"https://terraria.wiki.gg/images/{test.ItemName.Replace(" ","_")}.png" : $"https://calamitymod.wiki.gg/images/{test.ItemName.Replace(" ","_")}.png")" style="max-width: 48px; margin:auto" />
                    }
                            <span style="margin:auto; text-align:center">@test.ItemName</span>
                        </div>
                </td>
                    <td>
                        @foreach (var boss in test.Tests)
                        {
                            <div style="margin-bottom: 5px">
                                @boss.tier
                            </div>
                        }
                    </td>
            <td>
                @foreach (var boss in test.BestTimes)
                {
                    <div style="margin-bottom: 5px">
                                <b>@boss.name</b>: @boss.timeString @if (boss.died > 0) {
                                <small> (@boss.diedString left)</small>
                            }
                    </div>
                }
				</td>
                    @*<td>
                        @foreach (var boss in test.AverageTimes)
                        {
                            <div style="margin-bottom: 5px">
                                <b>@boss.Key</b>: @Data.FormatTime( boss.Value)
                            </div>
                        }
                    </td>*@
                    <td style="max-width:33%">
                        @foreach (var boss in test.Tests)
                        {
                            <div style="margin-bottom: 5px">
                                <p title="@boss.tester">@boss.notes</p>
                            </div>
                        }
                    </td>
         </tr>
    }
    </tbody>
	</table>
</div>

@code {
    public string output
    {
        get
        {
            return JsonSerializer.Serialize(Data.LoadedWeapons, new JsonSerializerOptions { WriteIndented = true, DefaultIgnoreCondition = System.Text.Json.Serialization.JsonIgnoreCondition.WhenWritingNull });
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await Data.LoadTestData(Http);
        await Data.LoadWeaponTSV(Http);
    }

}
